.distanceList {
  background-color: white;
  padding: 1rem;
  max-width: 80vw;
  position: fixed;
  margin: 0 auto; /* Will not center vertically and won't work in IE6/7. */
  left: 0;
  right: 0;
  flex-wrap: wrap;

  animation-name: fadeInDown;
  animation-duration: 0.2s;
  animation-fill-mode: both;
}

.showing {
  display: flex;
}

.not-showing {
  display: none;
}

@media only screen and (min-width: 600px)  {
  .distanceList {
    position: absolute;
    max-width: 300px;
    width: 400%;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    // transform: translate3d(0, -30px, 0);
  }
  100% {
    opacity: 1;
    // transform: none;
  }
}