@import '../../style/color_variables';

.calculator {
	padding: 3rem;
	margin: 3rem;
	max-width: 60rem;
}

.home {
	padding: 5.6rem 2rem;
	min-height: 100%;
	width: 100%;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 1.5rem 1rem;
}

.inputContainer {
	display: inline-flex;
	font-size: 1.6rem;
	width: 100%;
	border: 2px solid #000;
}

.inputLabel {
	align-items: center;
	background-color: $color-two;
	color: white;
	display: flex;
	justify-content: center;
	padding: 1rem;
	font-weight: bold;
}

.distanceListContainer {
	display: inline;
	margin-left: auto;
}

@media only screen and (min-width: 490px)  {
  .row {
    flex-wrap: nowrap;
  }
}

@media only screen and (min-width: 600px)  {
  .distanceListContainer {
    position: relative;
	}

	.inputContainer {
		width: initial;
	}
}

@media only screen and (min-width: 700px) {
	.calculator {
		margin: 3rem auto;
	}
}