@import '../../style/color_variables';

.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.row {
	display: flex;
	padding: 3.5rem 2rem;
}

.inputContainer {
	display: inline-flex;
	font-size: 1.6rem;
}

.inputLabel {
	display: inline;
	background-color: $color-two;
	color: white;
	padding: 1rem;
}

.distanceListContainer {
	display: inline;
}

@media only screen and (min-width: 600px)  {
  .distanceListContainer {
    position: relative;
  }
}