@import '../../style/color_variables';

.distanceOption {
  color: $color-one;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.25rem;
  margin: 0 0.5rem;


  &:hover {
    cursor: pointer;
    border-bottom: 1px solid $color-one;
  }
}