.header {
	left: 0;
	top: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background-image: #673AB7;
	background-image: linear-gradient(45deg,#2A475E, #1D2838);
	z-index: 50;
}

.headerText {
	float: left;
	margin: 0;
	padding: 0 15px;
	font-size: 24px;
	line-height: 56px;
	font-weight: 400;
	color: #FFF;
}

.navContainer {
	float: right;
}

.navLink {
	display: inline-block;
	height: 56px;
	line-height: 56px;
	padding: 0 15px;
	min-width: 50px;
	text-align: center;
	background: rgba(255,255,255,0);
	text-decoration: none;
	color: #FFF;
	will-change: background-color;
	transition: 0.1s;

	&:hover, &:active {
		background: rgba(0,0,0,0.2);
	}
}

.navActive {
	background: rgba(0,0,0,0.4);
}
